include ./benefit-list

mixin tarif-card(tag, item, isGray = false)
  #{tag}.tarif-card(class=isGray ? 'tarif-card_gray' : '')
    .tarif-card__text-block
      h3.tarif-card__title=item.title
      .tarif-card__additionally
        span.tarif-card__price=item.price
        span.tarif-card__desc=item.desc
    hr.tarif-card__hr
    +benefit-list(item.benefits, 'tarif-card__benefit-list')
    button.btn.btn_yellow.tarif-card__btn-choose(type="button") Choose
