mixin benefits-list(benefitsList = [], isWhite, className = '')
  -
    const classCount =
      benefitsList.length <= 5
        ? "benefits-list_few"
        : benefitsList.length >= 8
        ? "benefits-list_many"
        : "";
    const classColor = isWhite ? 'benefits-list_white' : isWhite + ''
  ul.benefits-list(class=classCount class=classColor class=className)
    each benefit in benefitsList
      li.benefits-list__item
        .benefits-list__icon-block
          svg.benefits-list__icon
            use(xlink:href=`./assets/sprite.svg#${benefit.icon}`)
        .benefits-list__text-block
          h3.benefits-list__title=benefit.title
          p.benefits-list__desc=benefit.desc
