mixin benefits(textObj, list)
  section.benefits
    .container.benefits__container
      .benefits__text-block
        h2.benefits__title=textObj.title
        if textObj.desc
          p.benefits__desc=textObj.desc
      ul.benefits__list
        each item in list
          li.benefits__item
            .benefits__item-icon-block
              svg.benefits__item-icon
                use(xlink:href=`@/img/sprite.svg#benefits--${item.icon}`)
            .benefits__item-text-block
            h3.benefits__item-title=item.title
            p.benefits__item-desc=item.desc
