mixin info(settings, title, desc = [], imgSrc)
  section.info(class=settings.isLeft ? '' : 'info_right' class=settings.isBlack ? '' : 'info_white' )
    .container.info__container
      .info__content
        h2.info__title=title
        .info__desc
          each text, idx in desc
            p=text
      .info__img-wrap
        img.info__img(src=imgSrc, alt="")
