include ../partials/team/team-list
include ../partials/team/team-join

mixin team
  .team
    .container.team__container
      .team__text-block
        .team__title-block
          h2.team__title Unser Team
          span.team__subtitle 14+ amazing people
        p.team__desc We're a diverse and determined team of innovators, movers and shakers, passionate about enabling our customers to do their best work. In our free time, we enjoy things like chess, ping-pong, cars, traveling, and crypto.
      -
        let i = 1;
        const teamList = [
          {name: 'Daniel', post: 'Founder & CEO', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Becky', post: 'Lead Frontend Engineer', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Brandon', post: 'Customer Success', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Bedel', post: 'Product Lead', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Daniel', post: 'Founder & CEO', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Matt', post: 'Backend Developer', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Brandon', post: 'Customer Success', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Bedel', post: 'Product Lead', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Oğuz Yağız', post: 'Design Lead', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Becky', post: 'Lead Frontend Engineer', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Brandon', post: 'Customer Success', imgSrc: `avatar-${i++}.jpg`},
          {name: 'Jeremy', post: 'Fraud Lead', imgSrc: `avatar-${i++}.jpg`},
        ]
      +team-list(teamList, 'team__list')
      +team-join

